<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>应用桌面</title>
    <script th:replace="common/head::static"></script>
    <link rel="stylesheet" th:href="@{/style/index.css}"/>
</head>
<body>
<div class="main bg1">
    <div class="sys-setting">
        <a class="layui-btn layui-btn-xs" id="btn-setting"><i class="layui-icon layui-icon-set"></i>设置</a>
    </div>
    <div class="sys-title">
        <h1>山丹项目应用系统全称</h1>
    </div>
    <div class="app-list" id="app-list">
    </div>
</div>
</body>
<script th:src="@{/js/index.js}"></script>
<script th:inline="javascript">
    const appList = /*[[${appList}]]*/ [];
    for(const app of appList){
        let icon;
        if (app.icon.startsWith('icon-')) {
            icon = `<div class="app-icon ${app.icon}" title="${app.title}">
                        <div class="mask" title="${app.title}"></div>
                    </div>`;
        } else if (app.icon.startsWith('images/')) {
            icon = `<div class="app-icon">
                        <img src="${ctx}/${app.icon}" title="${app.title}" alt="${app.title}" />
                        <div class="mask" title="${app.title}"></div>
                    </div>`;
        } else {
            icon = `<div class="app-icon">
                        <img src="${app.icon}" title="${app.title}" alt="${app.title}" />
                        <div class="mask" title="${app.title}"></div>
                    </div>`;
        }
        $('#app-list').append(`
            <div class="app-item" data-target="${app.target}" data-url="${app.url}">
                ${icon}
                <p>${app.title}</p>
            </div>
        `)
    }
    $('.app-item').on('click',function (){
        const url = $(this).data('url');
        const target = $(this).data('target');
        if(url){
            window.open(url, target);
        }
    })

    // 禁止右键菜单
    document.oncontextmenu = () => false;
    // 图片加载失败的监听
    $('.app-item img').on('error', function(){
        this.src = `${ctx}/style/image/metro/dropbox.png`
    })
</script>
</html>