<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/css/common/contianer.css}" rel="stylesheet" type="text/css"/>
    <style>
        .layui-card .layui-form-item {
            margin-bottom: 10
        }

        .layui-card .layui-form-item .layui-inline button {
            margin-top: 10px
        }
    </style>
</head>
<body onselectstart="return false">
<div class="layui-row">
    <!-- 树 -->
    <div class="layui-col-md3">
        <div class="layui-card" style="border-right: 1px solid #ebebeb;">
            <div class="layui-card-body">
                <div class="layui-tab layui-tab-brief" id="directoryTreeBody" lay-filter="directoryTreeBody">
                    <ul class="layui-tab-title">
                        <li class="layui-this metadata-table">目录</li>
                        <li>视图</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show" style="overflow-y: auto; padding: 10px 0;overflow-x: hidden"
                             id="tree-toobar-div">
                            <div class="layui-form" lay-filter="directoryFilterForm">
                                <div class="layui-form-item" style="margin-bottom: 0">
                                    <div class="layui-inline" style="width: 100%">
                                        <div class="layui-input-inline" style="width: 100%">
                                            <input type="text" class="layui-input layui-icon-search"
                                                   placeholder="请输入关键词检索"
                                                   style="padding-right: 40px;" id="directoryTreeSearchBox">
                                            <i class="layui-icon layui-icon-search"
                                               style="font-size: 24px;position: absolute;top: 7px;right: 10px;color: #b5b5b5;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul id="directoryTree" class="dtree" data-id="ROOT" data-value="ROOT"
                                style="min-width: 100%"></ul>
                        </div>
                        <div class="layui-tab-item layui-form">
                            <div class="layui-form-item" style="margin: 0 16px">
                                <select name="viewType" lay-filter="viewTypeSelector">
                                    <option value="year">年度视图</option>
                                    <option value="org">部门视图</option>
                                    <option value="troop">部队编号视图</option>
                                    <option value="equipment">武器型号视图</option>
                                    <option value="task">任务代号视图</option>
                                </select>
                            </div>
                            <div class="layui-form-item">
                                <hr>
                                <div id="views-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 数据表格 -->
    <div class="layui-col-md9">
        <div class="layui-card">
            <div class="layui-card-body right-card">
                <div class="layui-tab layui-tab-brief" id="metadataListCardBody" lay-filter="metadataListCardBody">
                    <ul class="layui-tab-title">
                        <li class="layui-this metadata-table">资源查询</li>
                        <li class="">文件查询</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="current-position">当前位置：<label id="currentPosition"></label></div>
                            <table class="layui-hide" id="dirMetadataTable" lay-filter="dirMetadataTable"></table>
                            <script type="text/html" id="tableToolBar">
                                <div class="layui-btn-container">
                                    <div class="layui-layout-left" style="top:10px; left: 20px">
                                        <input type="text" id="searchKeyInput" name="searchKeyInput"
                                               autocomplete="off"
                                               placeholder="请输入关键字查询" class="layui-input layui-btn-sm">
                                        <button class="layui-btn layui-btn-sm" lay-event="query">查询</button>
                                    </div>
                                </div>
                            </script>
                            <script type="text/html" id="rowToolBar">
                                <div class="layui-btn-container">
                                    <button class="layui-btn layui-btn-xs remove-link" lay-event="details">查看</button>
                                </div>
                            </script>
                        </div>

                        <div class="layui-tab-item">
                            文件查询
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- js -->
<script th:src="@{/js/sys/file/fileViewer.js}"></script>
<script th:src="@{/js/browser.js}"></script>
<script th:src="@{/js/view.js}"></script>
<script type="text/javascript">
    const sizeInit = () => {
        $(".layui-card-body").height(window.innerHeight - 20);
        $("#tree-toobar-div").height($(".layui-card-body").height() - 25-45);
    }
    window.onresize = sizeInit;
    sizeInit();
</script>
</html>
