<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">综合浏览</title>
    <script th:replace="common/head::static"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/report.css}"/>
    <script type="text/javascript" th:inline="javascript">
        const bianmuServer = /*[[${bianmuServer}]]*/ '';
    </script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><span th:text="${appName}">大数据综合浏览系统</span></div>
        <ul class="layui-nav layui-layout-left" lay-filter="navbar-top" id="navbar-top">
            <li class="layui-nav-item">
                <a th:data-url="'/browser'"
                   class="huanzi-menu" href="javascript:void(0);">数据浏览</a>
            </li>
            <li class="layui-nav-item">
                <a th:data-url="${dbtoolAddress}"
                   class="huanzi-menu" href="javascript:void(0);">统一查询</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username"></i>
                    <span th:text="${user.userName}"></span>
                </a>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}" style="padding:0 10px"><i
                    class="layui-icon layui-icon-logout"></i></a></li>
        </ul>
    </div>
    <div class="layui-body" style="display: flex; flex-direction: column; padding-bottom: 0">
        <iframe id="containerFrame" class='tab-content-div' style="display: flex; flex-grow: 1; overflow: hidden;border: 0"></iframe>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['element'], function () {

        /**
         * 水平导航栏监听
         */
        layui.element.on('nav(navbar-top)', function (elem) {
            let url = $(elem).data('url');
            if(url.startsWith("http://") || url.startsWith("https://")){
                $("#containerFrame").attr("src", url)
            }else{
                $("#containerFrame").attr("src", ctx + url)
            }
        });
        $('#navbar-top li:first a').click();
    });
</script>
</html>