<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">综合浏览</title>
    <script th:replace="common/head::static"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><span th:text="${appName}">大数据综合浏览系统</span></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username"></i>
                    <span th:text="${user.userName}"></span>
                </a>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}" style="padding:0 10px"><i
                    class="layui-icon layui-icon-logout"></i></a></li>
        </ul>
    </div>
    <div class="layui-body">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">目录树</div>
                    <div class="layui-card-body">
                        <div id="directory-tree"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md10">
                <div class="layui-card">
                    <div class="layui-card-header">数据检索</div>
                    <div class="layui-card-body">
                        <div class="layui-form" lay-filter="search-form">
                            <div class="layui-form-item search-line">
                                <div class="b-search-input-line">
                                    <div class="layui-input-inline">
                                        <input type="hidden" name="directoryId" value=""/>
                                        <input type="hidden" name="logic-searchInput" value="like"/>
                                        <input type="text" name="searchInput" id="search-input" class="layui-input"
                                               placeholder="输入关键词进行搜索。。。" />
                                    </div>
                                    <div class="layui-input-inline">
                                        <button class="layui-btn" id="begin-search-btn">开始搜索</button>
                                    </div>
                                    <div class="layui-input-inline">
                                        <button class="layui-btn layui-btn-primary layui-border-green" style="border: 0"
                                                id="condition-btn">更多条件<i class="layui-icon layui-icon-down"></i>
                                        </button>
                                        <button class="layui-btn layui-btn-primary layui-border-green" style="border: 0;padding:0;margin:0"
                                                id="condition-clear-btn">重置
                                        </button>
                                    </div>
                                </div>
                                <div class="b-search-slide-div" id="condition-div">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">收文时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="input-date-begin" name="inputDate" class="layui-input input-date" placeholder="选择日期范围"/>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">录入人员</label>
                                            <div class="layui-input-inline">
                                                <select name="logic-entryStaff" lay-verify="select-condition">
                                                    <option value="eq" selected>等于</option>
                                                    <option value="nq">不等于</option>
                                                    <option value="like">包含</option>
                                                </select>
                                                <input type="text" name="entryStaff" class="layui-input" placeholder="录入人员"/>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">文件来源</label>
                                            <div class="layui-input-inline">
                                                <select name="logic-source" lay-verify="select-condition">
                                                    <option value="eq" selected>等于</option>
                                                    <option value="nq">不等于</option>
                                                    <option value="like">包含</option>
                                                </select>
                                                <input type="text" name="source" class="layui-input" placeholder="文件来源"/>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">任务代号</label>
                                            <div class="layui-input-inline">
                                                <select name="logic-taskCode" lay-verify="select-condition">
                                                    <option value="eq" selected>等于</option>
                                                    <option value="nq">不等于</option>
                                                    <option value="like">包含</option>
                                                </select>
                                                <input type="text" name="taskCode" class="layui-input" placeholder="任务代号"/>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">任务性质</label>
                                            <div class="layui-input-inline">
                                                <select name="logic-taskNature" lay-verify="select-condition">
                                                    <option value="eq" selected>等于</option>
                                                    <option value="nq">不等于</option>
                                                    <option value="like">包含</option>
                                                </select>
                                                <input type="text" name="taskNature" class="layui-input" placeholder="任务性质"/>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">目标编号</label>
                                            <div class="layui-input-inline">
                                                <select name="logic-targetNumber" lay-verify="select-condition">
                                                    <option value="eq" selected>等于</option>
                                                    <option value="nq">不等于</option>
                                                    <option value="like">包含</option>
                                                </select>
                                                <input type="text" name="targetNumber" class="layui-input" placeholder="目标编号"/>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">部队代号</label>
                                            <div class="layui-input-inline">
                                                <select name="logic-troopCode" lay-verify="select-condition">
                                                    <option value="eq" selected>等于</option>
                                                    <option value="nq">不等于</option>
                                                    <option value="like">包含</option>
                                                </select>
                                                <input type="text" name="troopCode" class="layui-input" placeholder="部队代号"/>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">装备型号</label>
                                            <div class="layui-input-inline">
                                                <select name="logic-equipmentModel" lay-verify="select-condition">
                                                    <option value="eq" selected>等于</option>
                                                    <option value="nq">不等于</option>
                                                    <option value="like">包含</option>
                                                </select>
                                                <input type="text" name="equipmentModel" class="layui-input" placeholder="装备型号"/>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">导弹编号</label>
                                            <div class="layui-input-inline">
                                                <select name="logic-missileNumber" lay-verify="select-condition">
                                                    <option value="eq" selected>等于</option>
                                                    <option value="nq">不等于</option>
                                                    <option value="like">包含</option>
                                                </select>
                                                <input type="text" name="missileNumber" class="layui-input" placeholder="导弹编号"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item" style="justify-content: flex-end">
                                        <button class="layui-btn layui-btn-primary layui-border-green" style="border: 0;padding:0;margin:0;height: 16px;line-height: 16px;" onclick="$(`#condition-btn`).click()">确定</button>
                                    </div>
                                </div>
                                <div class="layui-tab" lay-allowClose="true" id="condition-tab" lay-filter="condition-tab">
                                    <label class="condition-title-label">查询条件：</label>
                                    <ul class="layui-tab-title"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="search-result-div" id="search-result-div">
                            <div class="layui-card">
                                <div class="layui-card-header b-result-head">
                                    <p style="color: gray !important;">共<label style="color:orange;">0</label>条数据，耗时<label style="color:orange;">0</label>秒</p>
                                    <p>
                                        <a id="btn-sorting" class="layui-btn layui-btn-primary layui-border-green layui-btn-xs" style="border: 0">排序</a>
                                        <a id="btn-report" class="layui-btn layui-btn-primary layui-border-green layui-btn-xs" style="border: 0">
                                            <i class="layui-icon layui-icon-chart"></i>统计报表</a>
                                    </p>
                                    <div id="sorting-layer" style="display: none">
                                        <div style="width: 150px; height: 330px">
                                            <ul class="layui-menu" id="sorting-field" lay-filter="sorting-field">
                                                <li class="sorting-item">
                                                    <div class="layui-menu-body-title">收文时间</div>
                                                    <div data-field="inputDate">
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="asc" style="border: 0">升序</a>
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="desc" style="border: 0">降序</a>
                                                    </div>
                                                </li>
                                                <li class="sorting-item">
                                                    <div class="layui-menu-body-title">录入人员</div>
                                                    <div data-field="entryStaff">
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="asc" style="border: 0">升序</a>
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="desc" style="border: 0">降序</a>
                                                    </div>
                                                </li>
                                                <li class="sorting-item">
                                                    <div class="layui-menu-body-title">文件来源</div>
                                                    <div data-field="source">
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="asc" style="border: 0">升序</a>
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="desc" style="border: 0">降序</a>
                                                    </div>
                                                </li>
                                                <li class="sorting-item">
                                                    <div class="layui-menu-body-title">任务代号</div>
                                                    <div data-field="taskCode">
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="asc" style="border: 0">升序</a>
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="desc" style="border: 0">降序</a>
                                                    </div>
                                                </li>
                                                <li class="sorting-item">
                                                    <div class="layui-menu-body-title">任务性质</div>
                                                    <div data-field="taskNature">
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="asc" style="border: 0">升序</a>
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="desc" style="border: 0">降序</a>
                                                    </div>
                                                </li>
                                                <li class="sorting-item">
                                                    <div class="layui-menu-body-title">目标编号</div>
                                                    <div data-field="targetNumber">
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="asc" style="border: 0">升序</a>
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="desc" style="border: 0">降序</a>
                                                    </div>
                                                </li>
                                                <li class="sorting-item">
                                                    <div class="layui-menu-body-title">部队代号</div>
                                                    <div data-field="troopCode">
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="asc" style="border: 0">升序</a>
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="desc" style="border: 0">降序</a>
                                                    </div>
                                                </li>
                                                <li class="sorting-item">
                                                    <div class="layui-menu-body-title">装备型号</div>
                                                    <div data-field="equipmentModel">
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="asc" style="border: 0">升序</a>
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="desc" style="border: 0">降序</a>
                                                    </div>
                                                </li>
                                                <li class="sorting-item">
                                                    <div class="layui-menu-body-title">导弹编号</div>
                                                    <div data-field="missileNumber">
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="asc" style="border: 0">升序</a>
                                                        <a class="layui-btn layui-btn-primary layui-btn-xs btn-sorting" data-sort="desc" style="border: 0">降序</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-card-body" style="height: auto !important;">
                                    <div class="result-content">
                                        <div class="result-item">
                                            <p class="result-item-title">弹目参数表|C-300-DANMUCANSHUBIAO</p>
                                            <p class="result-item-content">
                                                收文时间：2020-11-30；录入人员：张三；文件来源：靶场；任务性质：远程；任务代号：RW-3321；目标编号：MB-3383；部队代号：33883；装备型号：ZB-38384；导弹编号：DD-338883
                                            </p>
                                        </div>
                                        <div class="result-item">
                                            <p class="result-item-title">弹目参数表|C-300-DANMUCANSHUBIAO</p>
                                            <p class="result-item-content">
                                                收文时间：2020-11-30；录入人员：张三；文件来源：靶场；任务性质：远程；任务代号：RW-3321；目标编号：MB-3383；部队代号：33883；装备型号：ZB-38384；导弹编号：DD-338883
                                            </p>
                                        </div>
                                        <div class="result-item">
                                            <p class="result-item-title">弹目参数表|C-300-DANMUCANSHUBIAO</p>
                                            <p class="result-item-content">
                                                收文时间：2020-11-30；录入人员：张三；文件来源：靶场；任务性质：远程；任务代号：RW-3321；目标编号：MB-3383；部队代号：33883；装备型号：ZB-38384；导弹编号：DD-338883
                                            </p>
                                        </div>
                                        <div class="result-item">
                                            <p class="result-item-title">弹目参数表|C-300-DANMUCANSHUBIAO</p>
                                            <p class="result-item-content">
                                                收文时间：2020-11-30；录入人员：张三；文件来源：靶场；任务性质：远程；任务代号：RW-3321；目标编号：MB-3383；部队代号：33883；装备型号：ZB-38384；导弹编号：DD-338883
                                            </p>
                                        </div>
                                        <div class="result-item">
                                            <p class="result-item-title">弹目参数表|C-300-DANMUCANSHUBIAO</p>
                                            <p class="result-item-content">
                                                收文时间：2020-11-30；录入人员：张三；文件来源：靶场；任务性质：远程；任务代号：RW-3321；目标编号：MB-3383；部队代号：33883；装备型号：ZB-38384；导弹编号：DD-338883
                                            </p>
                                        </div>
                                        <div class="result-item">
                                            <p class="result-item-title">弹目参数表|C-300-DANMUCANSHUBIAO</p>
                                            <p class="result-item-content">
                                                收文时间：2020-11-30；录入人员：张三；文件来源：靶场；任务性质：远程；任务代号：RW-3321；目标编号：MB-3383；部队代号：33883；装备型号：ZB-38384；导弹编号：DD-338883
                                            </p>
                                        </div>
                                        <div class="result-item">
                                            <p class="result-item-title">弹目参数表|C-300-DANMUCANSHUBIAO</p>
                                            <p class="result-item-content">
                                                收文时间：2020-11-30；录入人员：张三；文件来源：靶场；任务性质：远程；任务代号：RW-3321；目标编号：MB-3383；部队代号：33883；装备型号：ZB-38384；导弹编号：DD-338883
                                            </p>
                                        </div>
                                        <div class="result-item">
                                            <p class="result-item-title">弹目参数表|C-300-DANMUCANSHUBIAO</p>
                                            <p class="result-item-content">
                                                收文时间：2020-11-30；录入人员：张三；文件来源：靶场；任务性质：远程；任务代号：RW-3321；目标编号：MB-3383；部队代号：33883；装备型号：ZB-38384；导弹编号：DD-338883
                                            </p>
                                        </div>
                                        <div class="result-item">
                                            <p class="result-item-title">弹目参数表|C-300-DANMUCANSHUBIAO</p>
                                            <p class="result-item-content">
                                                收文时间：2020-11-30；录入人员：张三；文件来源：靶场；任务性质：远程；任务代号：RW-3321；目标编号：MB-3383；部队代号：33883；装备型号：ZB-38384；导弹编号：DD-338883
                                            </p>
                                        </div>
                                    </div>
                                    <div id="page-component" style="position: absolute; bottom: 0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="report"></script>
    <script th:src="@{/js/index.js}" type="text/javascript"></script>
    <script type="text/javascript">
        const sizeInit = () => {
            $(".layui-card-body").height(window.innerHeight - 60 - 30 - 15 - 43 - 5);
            $(".search-result-div .layui-card-body").height(window.innerHeight - 153 -136);

            const formItemWidth = $('#search-input').parent().parent().innerWidth();
            $('#search-input').parent().width(formItemWidth - 300);

            $('#search-result-div').height($(".layui-card-body").innerHeight() - 105);

            $('.result-content').height($(".search-result-div .layui-card-body").innerHeight() - 70)
        }
        window.onresize = sizeInit;
        sizeInit();
    </script>
</div>
</body>
</html>