<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/css/common/contianer.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/meta_search.css}" rel="stylesheet" type="text/css"/>

    <script th:inline="javascript">
        const metadata = /*[[${metadata}]]*/ {};
        const columns = /*[[${columns}]]*/ [];
    </script>
</head>
<body>
<div class="layui-row" style="height: 100%">
    <!-- 数据表格 -->
    <div class="layui-col-md12 page-main">
        <div id="condition-box">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="layui-layout-left">自定义查询</div>
                    <div class="layui-layout-right">
                        <a class="layui-btn layui-btn-xs" id="btn_query" href="javascript:void(0)">开始查询</a>
                    </div>
                </div>
                <div class="layui-card-body">
                    <label>查询条件：</label>
                    <ul id="condition-list">
                        <p class="condition-none">暂无条件</p>
                    </ul>
                    <p class="condition-btn-group">
                        <a class="layui-btn layui-btn-xs layui-btn-primary my-btn" name="condition-add-btn"
                           data-type="single-filed">添加条件</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="condition-btn">
            <a href="javascript:void(0)" class="layui-btn layui-btn-xs"
               data-type="hide" id="condition-btn">收起条件</a>
        </div>
        <div class="meta-result" style="height: 100%; flex: 1;">
        </div>
    </div>
</div>
</body>

<!-- js -->
<script th:src="@{/js/meta_search.js}"></script>
<script type="text/javascript">
    /**
     * 页面尺寸初始化
     */
    function sizeInit() {
        $(".layui-card-body").height(window.innerHeight - 44);
    }

    $(function () {
        window.onresize = sizeInit;
        sizeInit();
    })
</script>
</html>
