<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyware.shandan.system.mapper.SysRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.keyware.shandan.system.entity.SysRoleMenu">
        <id column="RM_ID" property="rmId" />
        <result column="ROLE_ID" property="roleId" />
        <result column="MENU_ID" property="menuId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER" property="createUser" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="MODIFY_USER" property="modifyUser" />
    </resultMap>
</mapper>
