<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyware.shandan.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.keyware.shandan.system.entity.SysUser">
        <id column="USER_ID" property="userId" />
        <result column="LOGIN_NAME" property="loginName" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
        <result column="VALID" property="valid" />
        <result column="LIMITED_IP" property="limitedIp" />
        <result column="EXPIRED_TIME" property="expiredTime" />
        <result column="LAST_CHANGE_PWD_TIME" property="lastChangePwdTime" />
        <result column="LIMIT_MULTI_LOGIN" property="limitMultiLogin" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="ORG_ID" property="orgId" />
        <result column="CREATE_USER" property="createUser" />
        <result column="MODIFY_USER" property="modifyUser" />
        <result column="IS_DELETE" property="deleted" />
    </resultMap>
</mapper>
