<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/css/common/contianer.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <!-- 操作表单 -->
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">文件选择</div>
            <div class="layui-card-body">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-sm  layui-btn-normal" id="chooseFile"><i
                            class="layui-icon layui-icon-file"></i>选择文件
                    </button>
                    <div class="layui-upload-list" style="max-width: 1000px; height: 320px; overflow-y: auto">
                        <table class="layui-table">
                            <colgroup>
                                <col>
                                <col width="80">
                                <col width="260">
                                <col width="120">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>上传进度</th>
                                <th style="text-align: right">操作</th>
                            </tr>
                            </thead>
                            <tbody id="fileList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="layui-btn layui-btn-sm" id="fileUploadAction" style="position: absolute; left: -50px; height: 0; border:0">
        </button>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/js/sys/file/fileUpload.js}"></script>
</html>