##### 生产环境配置 #######
server:
  port: 18082

spring:
  #数据库配置
  datasource:
    dynamic:
      primary: master
      datasource:
        master:
          url: jdbc:dm://localhost:5236
          username: BIANMU
          password: 123456789
          driver-class-name: dm.jdbc.driver.DmDriver
    sql-script-encoding: UTF-8

  elasticsearch:
    rest:
      uris: http://192.168.146.128:19200

project:
  #是否需要输入验证码
  captcha-enable: false
  # 配置文件存储方式
  file-storage:
    # 存储路径
    path: ${user.home}/shandan/bianmu/upload


oauth:
  server: http://localhost:8888/oauth-server
security:
  oauth2:
    client:
      client-id: bianmu
      client-secret: bianmu_123456
      access-token-uri: ${oauth.server}/oauth/token
      user-authorization-uri: ${oauth.server}/oauth/authorize
    resource:
      user-info-uri: ${oauth.server}/oauth/user/info
