<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:replace="common/head::static"></script>
    <link th:href="@{/css/common/contianer.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">权限列表</div>
            <div class="layui-card-body simple-table">
                <!-- 表格主体 -->
                <table class="layui-hide" id="dictTable" lay-filter="dictTable"></table>
                <!-- 模板 -->
                <script type="text/html" id="tableToolBar">
                    <div class="layui-btn-container">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">字典类型</label>
                                <div class="layui-input-inline">
                                    <select id="dictTypeSelect" name="dictType" lay-search="" lay-filter="dictTypeSelect">
                                        <option value="">直接选择或搜索选择</option>
                                    </select>
                                </div>
                                <!--<button class="layui-btn layui-btn-sm" lay-event="query">查询</button>-->
                            </div>
                        </div>
                    </div>
                </script>
                <script type="text/html" id="rowToolBar">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/js/sys/dict/dict.js}"></script>
<script type="text/javascript">
    const sizeInit = () => $(".simple-table").height(window.innerHeight - 43 - 20)
    window.onresize = sizeInit;
    sizeInit();
</script>
</html>