.layui-layout-admin .layui-body {
    left: 0;
    background-color: #eee
}

.layui-form-item .layui-input-inline {
    width: auto
}
.b-search-input-line {
    margin: 0 auto;
    height: 38px;
}

.b-search-slide-div {
    min-height: 100px;
    /*max-height: 300px;*/
    /*overflow-y: auto;*/
    top: 50px;
    display: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 0 4px #00000080;
    position: absolute;
    background: #FFF;
    margin-right: 15px;
    z-index: 1;
}

.b-search-slide-div .layui-form-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 0
}

.b-search-slide-div .layui-form-label {
    width: 60px;
    text-align-last: justify;
}

.b-search-slide-div .layui-form-item .layui-inline {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.b-search-slide-div .layui-form-item .layui-input-inline input{margin-left: 78px; width:300px}
.b-search-slide-div .layui-form-select{width: 80px;float: left; position: absolute;}
.b-search-slide-div .layui-form-select .layui-select-title input{width: 80px; padding-right: 20px; padding-left: 10px; margin-left: 0}
.b-search-slide-div .layui-form-select .layui-select-title i.layui-edge{right: 10px;}

.b-search-slide-div .layui-form-item .input-date{
    width: 378px !important;
    float: left !important;
    margin-left: 0 !important;
}
.layui-input, .layui-textarea {
    border-color: #dedede !important;
}

.layui-input:hover, .layui-textarea:hover {
    border-color: #b3b3b3 !important;
}

.layui-tab-title {
    border-bottom-width: 0 !important;
    float: left;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 90%;
}

.condition-title-label {
    float: left;
    line-height: 40px;
    color: gray
}

.layui-form-item.search-line {
    margin-bottom: 0
}

.search-result-div {
    border: 1px solid #ececec
}
.b-result-head{display: flex;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ebebeb;
    justify-content: space-between;}
.b-result-head p{color: gray !important; font-size: 12px;}
.b-result-head p label{color: orange;}
.b-result-head a.layui-btn{border: 0;height: 30px;line-height: 30px;}

.sorting-item .layui-btn{margin-left: 0; color: gray}
.sorting-item .on{color: #009688}
.result-content{
    overflow-y: auto;
    height: inherit;
    padding: 0;
}
.result-item{
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
    box-shadow: 0 0 3px #00000040;
    overflow: hidden;
}
.result-item:hover{box-shadow: 0 0 5px #009688;cursor: pointer;}
.result-item-title{
    font-size: 16px;
    font-weight: bold;
    color: revert;
}
.result-item-content{}

.details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details-container .details-title {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.details-container ul {
    display: flex;
    margin: 10px 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.details-container .details-data-common {
    margin: 15px 0 0 0;
}
.details-container .details-data-private{
    /*border-top: 1px solid #e2e2e2;*/
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    padding: 0 5px;
}
.details-container ul li {
    display: flex;
    height: 38px;
    line-height: 38px;
    margin-bottom: 0;
}
.details-container .details-data-common li{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 420px;
}
.details-container .details-data-common li .details-label {
    background: #e1e1e1;
    padding: 0 10px;
}

.details-container ul li span {
    padding: 0 10px;
}
.details-container ul.details-data-private li{
    max-width: 400px;
    font-size: 15px;
    font-weight: bold;
}
.details-container .details-data-private li .details-label {
    padding: 0 10px;
}