.layui-layout-admin .layui-body {
    left: 0;
    padding: 15px;
    background-color: #eee
}

.layui-form-item .layui-input-inline {
    width: auto
}
.b-search-input-line {
    margin: 0 auto;
    height: 38px;
}

.b-search-slide-div {
    min-height: 100px;
    /*max-height: 300px;*/
    /*overflow-y: auto;*/
    top: 50px;
    display: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 0 3px;
    position: absolute;
    background: #FFF;
    margin-right: 15px;
    z-index: 1;
}

.b-search-slide-div .layui-form-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 0
}

.b-search-slide-div .layui-form-label {
    width: 60px
}

.b-search-slide-div .layui-form-item .layui-inline {
    margin-bottom: 10px
}
.b-search-slide-div .layui-form-item .layui-input-inline input{margin-left: 78px; width:300px}
.b-search-slide-div .layui-form-select{width: 80px;float: left; position: absolute;}
.b-search-slide-div .layui-form-select .layui-select-title input{width: 80px; padding-right: 20px; padding-left: 10px; margin-left: 0}
.b-search-slide-div .layui-form-select .layui-select-title i.layui-edge{right: 10px;}

.b-search-slide-div .layui-form-item .input-date{
    width: 378px !important;
    float: left !important;
    margin-left: 0 !important;
}
.layui-input, .layui-textarea {
    border-color: #dedede !important;
}

.layui-input:hover, .layui-textarea:hover {
    border-color: #b3b3b3 !important;
}

.layui-tab-title {
    border-bottom-width: 0 !important;
    float: left
}

.condition-title-label {
    float: left;
    line-height: 40px;
    color: #333333
}

.layui-form-item.search-line {
    margin-bottom: 0
}

.search-result-div {
    border: 1px solid #ececec
}
