.b-search-input-line {
    margin: 0 auto;
    height: 38px;
}

.b-search-slide-div {
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
    top: 50px;
    display: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 0 3px;
    position: absolute;
    background: #FFF;
    margin-right: 15px;
    z-index: 1;
}

.b-search-slide-div .layui-form-item {
    margin-bottom: 0
}

.b-search-slide-div .layui-form-label {
    width: 60px
}

.b-search-slide-div .layui-form-item .layui-inline {
    margin-bottom: 10px
}

.layui-input, .layui-textarea {
    border-color: #dedede !important;
}

.layui-input:hover, .layui-textarea:hover {
    border-color: #b3b3b3 !important;
}

.layui-tab-title {
    border-bottom-width: 0 !important;
    float: left
}

.condition-title-label {
    float: left;
    line-height: 40px;
    color: #333333
}

.layui-form-item.search-line {
    margin-bottom: 0
}

.search-result-div {
    border: 1px solid #ececec
}