#layer-content-report {
    height: 100%
}

.report-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.report-main .report-btn-line {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.sorting-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0 !important;
}

.report-main .report-items {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-y: overlay;
    justify-content: space-around;
}

.echarts-item {
    width: 500px;
    height: 40%;
    padding: 0 20px;
}
.layui-elem-field{border-color: #e8e8e8 !important;}
.layui-elem-field legend {
    margin-left: 20px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #7d7d7d;
}
.layui-field-box {
    padding: 15px 50px 15px 15px;
}