.layui-form-select {width: 300px; float: left}
.metadata-table-list .layui-form-select {width: 180px; float: left; margin-right: 10px}
.metadata-table-list .metadata-table-list-item {
    height: 38px;
    padding: 5px 0;
}
.metadata-table-list .metadata-table-list-item .table-tab{
    float: left;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 5px;
    margin-right: 10px;
}
.metadata-table-list .metadata-table-list-item .table-tab .tab-text{
    margin: 0 10px;
    float: left;
    max-width: 200px;
    width: 200px;
    text-align: center;
    overflow: hidden;
}
.metadata-table-list .metadata-table-list-item .layui-icon-close:hover{cursor: pointer;border-radius: 2px;
    background-color: #FF5722;
    color: #fff; }