<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/css/common/contianer.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/sys/setting/setting.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row">
    <!-- 操作表单 -->
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">系统设置（注：修改后需要刷新页面才生效）</div>
            <div class="layui-card-body">
                <table class="layui-hide" id="sys-setting-table" lay-filter="sys-setting-table"></table>
                <script type="text/html" id="tableToolBar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="save">保存修改</button>
                        <button class="layui-btn layui-btn-sm" lay-event="clear" id="clear-btn">数据清除</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/js/sys/setting/setting.js}"></script>
</html>