body, html {
    margin: 0;
    padding: 0;
    background: #efefef;
}
.layui-layout-admin .layui-logo {
    max-width: 300px;
    width: auto;
    font-weight: bold;
}
.layui-nav-img {
    height: 50px;
    width: auto
}
.layui-body-width-max {
    left: 0;
}
.layui-logo {padding: 0 20px}
.dtree-nav-item .dtree-nav-div {overflow: hidden;white-space: nowrap;}
.dtree-nav-item .dtree-nav-div cite{white-space: nowrap}
::-webkit-scrollbar{width: 10px;background-color:#F5F5F5;}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background-color:#b9b9b9;
}
.flex-row{display: flex; flex-direction: row}
.flex-column{display: flex; flex-direction: column}
.flex-fill{display: flex;flex-grow: 1}
.layui-badge-rim, .layui-border, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-panel, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
    border-color: #eaeaea;
}
.layui-table-tool .layui-btn-container .layui-btn {
     margin: 0
}
.layui-table-tool {
    min-height: 58px;
}