body, html {
    margin: 0;
    padding: 0;
    background: #efefef;
}
.layui-layout-admin .layui-logo {
    max-width: 300px;
    width: auto;
    font-weight: bold;
}
.layui-nav-img {
    height: 50px;
    width: auto
}
.layui-body-width-max {
    left: 0;
}
.layui-logo {padding: 0 20px}