body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #efefef;
}
.layui-layout-admin .layui-logo {
    max-width: 300px;
    width: auto;
    font-weight: bold;
}
.layui-nav-img {
    height: 50px;
    width: auto
}
.layui-body-width-max {
    left: 0;
}
.layui-logo {padding: 0 20px}
.dtree-nav-item{min-width: 90%;overflow: hidden;}
.dtree-nav-item .dtree-nav-div {overflow: hidden;white-space: nowrap;}
.dtree-nav-item .dtree-nav-div cite{white-space: nowrap}
.dtree-theme-item-this{background-color: #FFFFFF !important;}
.dtree-theme-item:hover {
    background-color: #FFFFFF!important;
}
.dtree-theme-item-this cite{border: 1px solid orange;border-radius: 4px;padding: 2px;}
.dtree-theme-item:hover cite {color: orange!important;}
::-webkit-scrollbar{width: 10px;height:10px;background-color:#F5F5F5;}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background-color:#b9b9b9;
}
.flex-row{display: flex; flex-direction: row}
.flex-column{display: flex; flex-direction: column}
.flex-fill{display: flex;flex-grow: 1}
.layui-badge-rim, .layui-border, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-panel, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
    border-color: #eaeaea;
}
.layui-table-tool .layui-btn-container .layui-btn {
     margin: 0
}
.layui-table-tool {
    min-height: 58px;
}
.layui-table-view{background: #FFF}
.current-position{color: #999}
.current-position label{color: #666}

.dtree-toolbar{box-shadow: 5px 3px 3px -3px black;}
.dtree-toolbar .layui-nav-child dd a i {
    margin-right: 5px;
    font-size: 16px;
    display: inline-block;
}
.dtree-toolbar .layui-nav-child dd a i:hover {
    font-weight: normal;
}
.dtree-toolbar .layui-nav-child dd {
    cursor: pointer;
    padding: 0 10px;
}
.dtree-toolbar .layui-nav-child dd a{
    padding: 0;
}