body, html {
    margin: 0;
    padding: 0;
    background: #efefef;
}
.layui-layout-admin .layui-logo {
    max-width: 300px;
    width: auto;
    font-weight: bold;
}
.layui-nav-img {
    height: 50px;
    width: auto
}
.layui-body-width-max {
    left: 0;
}
.layui-logo {padding: 0 20px}
.dtree-nav-item .dtree-nav-div {overflow: hidden}
.dtree-nav-item .dtree-nav-div cite{white-space: nowrap}
::-webkit-scrollbar{width: 10px;background-color:#F5F5F5;}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background-color:#b9b9b9;
}