.layui-layout-admin .layui-body {
    position: absolute;
    top: 60px;
    padding-bottom: 0;
}

/*.layui-body {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 900;
    width: auto;
    box-sizing: border-box;
}*/
.tab-content-div{
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}