##### dev 配置 #######
spring:
  #数据库配置
  datasource:
    dynamic:
      primary: master
      datasource:
        master:
          url: jdbc:dm://localhost:5236
          username: BIANMU
          password: 123456789
          driver-class-name: dm.jdbc.driver.DmDriver

  elasticsearch:
    rest:
      uris: http://192.168.146.128:9200

project:
  #是否需要输入验证码
  captcha-enable: true
  # 配置文件存储方式
  file-storage:
    # 存储位置，local：本地，nas：NAS存储服务
    location: local
    # 存储路径
    path: D:/BIANMU/
  bianmu-server: http://localhost:8080/