##### dev 配置 #######
oauth:
  server: http://localhost:8888/oauth-server

spring:
  #数据库配置
  datasource:
    dynamic:
      primary: master
      datasource:
        master:
          url: jdbc:dm://localhost:5236
          username: BIANMU
          password: 123456789
          driver-class-name: dm.jdbc.driver.DmDriver

  elasticsearch:
    rest:
      uris: http://192.168.146.128:9200

  thymeleaf:
    # 页面缓存配置
    cache: false

security:
  oauth2:
    client:
      client-id: browser
      client-secret: browser_123456
      access-token-uri: ${oauth.server}/oauth/token
      user-authorization-uri: ${oauth.server}/oauth/authorize
    resource:
      user-info-uri: ${oauth.server}/oauth/user/info



project:
  #是否需要输入验证码
  captcha-enable: false
  # 启用记住我，方便调试
  remember-me-enable: true
  browser:
    dbtool-address: http://localhost:18300/dbtool/