##### dev 配置 #######
spring:
  #数据库配置
  datasource:
    dynamic:
      primary: master
      datasource:
        master:
          url: jdbc:dm://localhost:5236
          username: BIANMU
          password: 123456789
          driver-class-name: dm.jdbc.driver.DmDriver

  thymeleaf:
    # 页面缓存配置
    cache: false
  elasticsearch:
    rest:
      uris: http://192.168.146.128:9200

  #热部署设置
  devtools:
    restart:
      enabled: true
      additional-paths: src/java/main

project:
  #是否需要输入验证码
  captcha-enable: false
  # 启用记住我，方便调试
  remember-me-enable: true
  bianmu-server: http://localhost:8080