##### dev 配置 #######
oauth:
  server: http://localhost:8888/oauth-server

spring:
  #数据库配置
  datasource:
    dynamic:
      primary: master
      datasource:
        master:
          url: jdbc:dm://localhost:5236
          username: BIANMU
          password: 123456789
          driver-class-name: dm.jdbc.driver.DmDriver
  # 页面缓存
  thymeleaf:
    cache: false

  elasticsearch:
    rest:
      uris: http://192.168.146.128:9200

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

security:
  oauth2:
    client:
      client-id: control
      client-secret: control_123456
      access-token-uri: ${oauth.server}/oauth/token
      user-authorization-uri: ${oauth.server}/oauth/authorize
    resource:
      user-info-uri: ${oauth.server}/user/info
      jwt:
        key-uri: ${oauth.server}/oauth/token_key
project:
  #是否需要输入验证码
  captcha-enable: false
  # 是否启用记住我（免登录，debug利器）
  remember-me-enable: true